li.active a {
  background-color: blue;
  color: white;
  pointer-events: none;
}
li {
  width: 42px;
  display: inline-block;
  text-align: center;
  margin: 1px;
}
li a {
  background-color: gainsboro;
  display: grid;
  transition: 0.1s ease-in;
  line-height: 42px;
}
li a:hover {
  background-color: lightblue;
  text-decoration: underline;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
li.disabled a {
  opacity: 0.25;
  pointer-events: none;
}
li.active a,
li.disabled a {
  text-decoration: none;
}
