#slider-container {
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.nav {
  z-index: 1;
  padding: 10px;
  cursor: pointer;
  top: 50%;
  position: absolute;
}
#previous {
  transform: translateY(-50%);
}
#next {
  transform: translateY(-50%) translateX(330px);
}
.nav img {
  width: 40px;
  height: 40px;
}
#slider {
  width: 400px;
  height: 300px;
  overflow: hidden;
}
#slider-slides {
  transition: transform 0.5s ease-in-out;
  width: 2000px;
}
img {
  display: inline-block;
  height: 300px;
  text-align: center;
  width: 400px;
}
